/* BELOW 1344px(Smaller desktops) */
@media (max-width: 84em)
{
    .home{
        max-width: 120rem;
    }

    .h-primary{
        font-size: 4.4rem;
    }
}

/* BELOW 1200px(Landscape tablets) */
@media (max-width:75em){
    html{
        font-size: 56.25%;
    }
    .header{
        padding: 0 3.2rem;

    }
    .home{
        gap: 4.8rem;
    }
    .grid{
        column-gap: 4.8rem;
        row-gap: 6.4rem;
    }

    .h-secondary{
        font-size: 3.6rem;
    }
    .h-tertiary{
        font-size: 2.4rem;
    }
    #navbar ul{
        gap: 3.2rem;
    }
}
/* BELOW 944px(Tablets) */
@media (max-width: 59em){
    html{
        font-size: 50%;
    }
    .home{
        grid-template-columns: 1fr;
        padding: 0 8rem;
        gap: 6.4rem;
    }
    .home-img{
        width: 60%;
    }
    .home-text-box{
        text-align: center;
    }
    .home-img-box{
        text-align: center;
    }
    .delivered-meals{
        justify-content: center;
        margin-top: 3.2rem;
    }
    .logos img{
        height: 2.4rem;
    }
    .step-number{
        font-size: 7.4rem;
    }
    .meal-content{
        padding: 2.4rem 3.2rem 3.2rem 3.2rem;

    }
    .cta-form{
        grid-template-columns: 1fr;
    }
    .btn--form{
        margin-top: 1.2rem;
        
    }
}
